.input_wrapper{
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.input_wrapper input{
    outline: none;
    border: 1px solid var(--bg-third);
    background-color: var(--bg-primary);
    width: 100%;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: var(--color-primary);
}
input:focus{
    border: 1px solid var(--blue-color);
}

.input_error_border{
    border-color: var(--border-color) !important;
}
.input_wrapper i{
    position: absolute;
    right: 5px;
    top: 50px;
    transform: scale(0.8);
}
.input_error{
    background: var(--border-color);
    position: relative;
    padding: 7px;
    width: 100%;
    color: #fff;
    margin-bottom: .5rem;  
    font-size: 15px;
    border-radius: 5px;
}

.arrow_top{
    border-top: 10px solid var(--border-color);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 10px;
}

.arrow_bottom{
    border-bottom: 10px solid var(--border-color);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 10px;
}


.input_error_desktop{
    position: absolute;
    left: -23.8rem;
    top: .7rem;
}

.arrow_right{
    border-top: 10px solid transparent;
    border-left: 10px solid  var(--border-color);
    border-bottom: 10px solid transparent;
    right: -.65rem;
    position: absolute ;
    top: .4rem;
}
.arrow-left{
    border-top: 10px solid transparent;
    border-right: 10px solid var(--border-color) ;
    border-bottom: 10px solid transparent;
    left: -.6rem;
    position: absolute ;
    top: .4rem;
}




